# Prozessoptimierung

## Beispiel: Jitter von CD's und Disc's

In [1]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from patsy.contrasts import Treatment, Sum
from statsmodels.stats.anova import anova_lm
df = pd.DataFrame({"Aa": np.tile(np.tile([-1, 1], 4),2),
"Bb": np.tile(np.repeat([-1,1], [2,2]),4),
"Cc": np.tile(np.repeat([-1,1], [4,4]),2)},
dtype="category")
df["Yy"] = np.array([34,26,33,21,24,23,19,18,40,29,35,22,23,22,18,18])
print(df)

   Aa Bb Cc  Yy
0  -1 -1 -1  34
1   1 -1 -1  26
2  -1  1 -1  33
3   1  1 -1  21
4  -1 -1  1  24
5   1 -1  1  23
6  -1  1  1  19
7   1  1  1  18
8  -1 -1 -1  40
9   1 -1 -1  29
10 -1  1 -1  35
11  1  1 -1  22
12 -1 -1  1  23
13  1 -1  1  22
14 -1  1  1  18
15  1  1  1  18

In [2]:
fit = ols("Yy ~ C(Aa, Sum)*C(Bb, Sum)*C(Cc, Sum)", data=df).fit()
fit.params

Intercept                                             25.3125
C(Aa, Sum)[S.-1]                                       2.9375
C(Bb, Sum)[S.-1]                                       2.3125
C(Cc, Sum)[S.-1]                                       4.6875
C(Aa, Sum)[S.-1]:C(Bb, Sum)[S.-1]                     -0.3125
C(Aa, Sum)[S.-1]:C(Cc, Sum)[S.-1]                      2.5625
C(Bb, Sum)[S.-1]:C(Cc, Sum)[S.-1]                     -0.0625
C(Aa, Sum)[S.-1]:C(Bb, Sum)[S.-1]:C(Cc, Sum)[S.-1]    -0.4375
dtype: float64

In [3]:
df["Yy"] = np.array([34,26,33,21,24,23,19,18,40,29,35,22,23,22,18,18])
fit = ols("Yy ~ C(Aa, Sum)*C(Bb, Sum)*C(Cc, Sum)", data=df).fit()
anova_lm(fit)

,df,sum_sq,mean_sq,F,PR(>F)
"C(Aa, Sum)",1.0,138.0625,138.0625,41.679245,0.000197
"C(Bb, Sum)",1.0,85.5625,85.5625,25.830189,0.000950
"C(Cc, Sum)",1.0,351.5625,351.5625,106.132075,0.000007
"C(Aa, Sum):C(Bb, Sum)",1.0,1.5625,1.5625,0.471698,0.511620
"C(Aa, Sum):C(Cc, Sum)",1.0,105.0625,105.0625,31.716981,0.000492
"C(Bb, Sum):C(Cc, Sum)",1.0,0.0625,0.0625,0.018868,0.894140
"C(Aa, Sum):C(Bb, Sum):C(Cc, Sum)",1.0,3.0625,3.0625,0.924528,0.364446
Residual,8.0,26.5000,3.3125,NaN,NaN

In [4]:
fit = ols("Yy ~ C(Aa, Sum)*C(Bb, Sum)*C(Cc, Sum)", data=df).fit()
fit.params

Intercept                                             25.3125
C(Aa, Sum)[S.-1]                                       2.9375
C(Bb, Sum)[S.-1]                                       2.3125
C(Cc, Sum)[S.-1]                                       4.6875
C(Aa, Sum)[S.-1]:C(Bb, Sum)[S.-1]                     -0.3125
C(Aa, Sum)[S.-1]:C(Cc, Sum)[S.-1]                      2.5625
C(Bb, Sum)[S.-1]:C(Cc, Sum)[S.-1]                     -0.0625
C(Aa, Sum)[S.-1]:C(Bb, Sum)[S.-1]:C(Cc, Sum)[S.-1]    -0.4375
dtype: float64

## Beispiel: Reaktionsanalyse

In [5]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from patsy.contrasts import Treatment, Sum
from statsmodels.stats.anova import anova_lm
reakt = pd.DataFrame(
{"x1": np.array([120,160,120,160,140,140]),
"x2": np.array([50,50,70,70,60,60]),
"y": np.array([52,62,60,70,63,65])
}
)
fit = ols("y~x1+x2",data=reakt).fit()
fit.params

Intercept    3.00
x1           0.25
x2           0.40
dtype: float64

Mit kodierten Variablen:

In [6]:
reakt = pd.DataFrame(
{"x1": np.array([-1,1,-1,1,0,0]),
"x2": np.array([-1,-1,1,1,0,0]),
"y": np.array([52,62,60,70,63,65])
}
)
fit = ols("y~x1+x2",data=reakt).fit()
fit.params

Intercept    62.0
x1            5.0
x2            4.0
dtype: float64

In [7]:
reakt = pd.DataFrame(
{"Zeit": np.array([80,80,100,100,90,90,76,104,90]),
"Temp": np.array([195,235,195,235,187,243,215,215,215]),
"y": np.array([78,76,72,75,74,76,77,72,80])
}
)
fit = ols("y~Zeit+Temp+I(Temp*Temp)+I(Zeit*Zeit)+I(Zeit*Temp)",data=reakt).fit()
fit.params

Intercept        -277.587423
Zeit                3.229716
Temp                2.024201
I(Temp * Temp)     -0.005960
I(Zeit * Zeit)     -0.026390
I(Zeit * Temp)      0.006250
dtype: float64