Die Grundlagen der Allgemeinen Relativitätstheorie (ART) hatte Albert Einstein am 25. November 1915 der Preussischen Akademie der Wissenschaften vorgetragen.

Eine Vorhersage der ART besagt, dass Lichtstrahlen von Sternen, die sich hinter der Sonne befinden und gerade am Sonnenrand vorbei auf die Erde treffen, eine Winkelablenkung aufgrund der Raumkrümmung erfahren. Aus dieser Winkelablenkung lässt sich dann der Raumkrümmungsparameter $ \gamma $ bestimmen. In der Newton’schen Physik, wo der Raum nicht gekrümmt ist, hat $ \gamma $  den Wert 0. In der ART hat $ \gamma $ den Wert 1. Im Jahre 1975 wurde an 9 Tagen im National Radio Astronomy Observatory (NRAO) in Green Bank aus der Lichtablenkung der Wert von $ \gamma $ ermittelt. Die Werte dieser Messungen finden Sie in der Datei `gamma.txt` auf Ilias und Renkulab.

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import t
gamma = pd.read_csv("./gamma.txt", delim_whitespace=True)
gamma.head()

       Day  gamma
0  April 5  1.000
1  April 6  0.960
2  April 7  1.020
3  April 8  1.000
4  April 9  1.002

## Schokolade vs. Nobelpreisdichte

In [3]:
schoko_nobel = pd.read_csv("./Schokolade_Nobelpreis.txt", delim_whitespace=True)
schoko_nobel.head()

,Country,Nobel Laureates per 10 Million,Chocolate consumption (kg) per capita
0,Sweden,30.677,4.4
1,Switzerland,30.125,10.2
2,Norway,24.947,9.2
3,Denmark,24.695,7.9
4,Austria,24.577,8.5

## Prozessoptimierung Tumbler

In [16]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from patsy.contrasts import Treatment, Sum
from statsmodels.stats.anova import anova_lm
df = pd.DataFrame({"Aa": np.tile(np.tile([-1, 1], 4),2),
"Bb": np.tile(np.repeat([-1,1], [2,2]),4),
"Cc": np.tile(np.repeat([-1,1], [4,4]),2)},
dtype="category")
df["Yy"] = np.array([34,26,33,21,24,23,19,18,40,29,35,22,23,22,18,18])