# Beispiel 6.2

Der Datensatz `Credit` wurde in den USA erhoben.  Er führt für eine grössere Anzahl Individuen die Zielvariable `balance` (monatliche Kreditkartenrechnung) wie auch mehrere quantitative erklärende Variablen auf: `age` (Alter), `cards` (Anzahl Kreditkarten), `education` (Anzahl Jahre Ausbildung), `income` (Einkommen in Tausenden Dollars), `limit` (Kreditkartenlimite) und `rating` (Kreditwürdigkeit).

In [6]:
import pandas as pd 
import arviz as az
df = pd.read_csv("./Daten/Credit.csv").drop("Unnamed: 0", axis=1)

df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [7]:
df.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender',
       'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

In [8]:
import bambi as bmb
model_g = bmb.Model("Balance ~ Gender", df)
idata_g = model_g.fit(random_seed=123)
az.summary(idata_g)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
NUTS: [sigma, Intercept, Gender]

/opt/conda/lib/python3.10/site-packages/rich/live.py:231: UserWarning: install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 7 seconds.

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
Gender[Female],20.608,45.075,-60.900,108.348,0.557,0.640,6585.0,3183.0,1.0
Intercept,509.429,33.143,442.139,568.286,0.405,0.288,6723.0,2600.0,1.0
sigma,461.390,16.270,430.935,490.453,0.206,0.146,6341.0,3246.0,1.0

 Es gibt keine spezielle Syntax in `Bambi`, um kategorische Variablen zu definieren. `Bambi` erkennt diese automatisch.