# ANOVA

In [1]:
from pandas import DataFrame 
import pandas as pd
import numpy as np
import scipy.stats as st

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

rf = DataFrame({
"HC": np.repeat(["5%","10%","15%","20%"], [6, 6, 6, 6]), 
"Strength":[7, 8, 15, 11, 9, 10, 12, 17, 13, 18, 19, 15, 14, 18, 
19, 17, 16, 18, 19, 25, 22, 23, 18, 20]
})

fit = ols("Strength~HC",data=rf).fit()
anova_lm(fit)

            df      sum_sq     mean_sq          F    PR(>F)
HC         3.0  382.791667  127.597222  19.605207  0.000004
Residual  20.0  130.166667    6.508333        NaN       NaN

In [2]:
rf

     HC  Strength
0    5%         7
1    5%         8
2    5%        15
3    5%        11
4    5%         9
5    5%        10
6   10%        12
7   10%        17
8   10%        13
9   10%        18
10  10%        19
11  10%        15
12  15%        14
13  15%        18
14  15%        19
15  15%        17
16  15%        16
17  15%        18
18  20%        19
19  20%        25
20  20%        22
21  20%        23
22  20%        18
23  20%        20